*{
    font-family: Arial, Helvetica, sans-serif;
    max-width:700px;
   margin: auto;
}
body{
    min-width: 500px;
    background-color: #e0eeee
    ;
}
.profilebody{
background-color: white;
width:700px;
height:590px;
margin-top: 20px;
margin-bottom: 20px;
}
#name{
    font-size: 40px;
     
}
.breaking{
    margin-top: 10px;
    margin-bottom: 10px;
}
.heading{
    margin-bottom: 10px;
}
